<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/header :: headtag(title='ページが見つかりません')}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="/layout/bodyheader :: head"></div>
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <p class="h2 text-center">404 Not Found</p><br />
    <p class="text-center">指定されたページが見つかりませんでした。ホームリンクよりお戻り下さい。</p><br />
  </div>
  <div class="col-md-2"></div>
</div>
<br />
<div th:replace="~{/layout/bodyfooter :: foot}"></div>
</body>
</html>