<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: headtag(title='ログイン認証')}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="login">商品リスト管理  ログイン認証</a>
    </div>
  </nav>
</header>
<br />
<div class="container">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-4">
      <p class="h2 text-center">ログイン認証</p><br />
      <form th:action="@{/mvc/login}" method="post">
        <label>ユーザー名：</label>
        <input type="text" name="username" class="form-control form-control-sm" />
        <br />
        <label>パスワード：</label>
        <input type="password" name="password" class="form-control form-control-sm" />
        <br />
        <input class="btn btn-primary" type="submit" value="ログイン" /><br />
      </form>

      <div th:if="${param.error}">
        <strong><font color="red">ユーザー名またはパスワードに誤りがあります。</font></strong>
      </div>
      <div th:if="${param.logout}">
        <strong>ログアウトしました。</strong>
      </div>
    </div>
    <div class="col-xl-4"></div>
  </div>
</div>
<div th:replace="~{layout/bodyfooter :: foot}"></div>
</body>
</html>